<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>記事一覧 | Simple Blog System</title>
        <meta name="description" content="Simple Blog System">
        <meta name="keywords" content="blog">
        <meta name="author" content="Your Name">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="button-design.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <header>
            <h1>Simple Blog System</h1>
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="archives/">記事一覧</a></li>
            </ul>
        </header>
        <main>
            <h2>記事一覧</h2>

            @postslist

        </main>
        <footer>
            Copyright(c)
        </footer>
    </body>
</html>
