<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TOP | Simple Blog System</title>
        <meta name="description" content="Simple Blog System">
        <meta name="keywords" content="blog">
        <meta name="author" content="Your Name">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="button-design.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <header>
            <h1>Simple Blog System</h1>
            <ul>
                <li><a href="/">TOP</a></li>
                <li><a href="archives/">記事一覧</a></li>
            </ul>
        </header>
        <main>
            <p>更新：@indexupdate</p>
            <p>ブログの説明などを入力</p>

            <h2>最近の投稿</h2>

            @posts

        </main>
        <footer>
            Copyright(c)
        </footer>
    </body>
</html>
